html {
    scroll-behavior: smooth;
}

header {
    font-size : 90%;
    font-family : Roboto, sans-serif;
    background-color : #000000;
    margin : 0px auto 0px auto;
    padding : 0px;
    max-width : 100%;
    height : auto;
}

.rubrik{
    color: #ffffff;
    font-family: 'Arial', serif;
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    text-shadow: #cccccc 2px 2px;
}

.description {
    color : #dbe5f5;
    font-family : 'Arial', serif;
    text-align : center;
    margin : 40px auto 40px auto;
    font-weight : bold;
    font-size: 16px;
 
}

li {
    display : inline;
    margin : 0 10px;
    }
a.meny {
        color : #cccccc;
        text-transform : uppercase;
        text-decoration : none;
        padding : 6px 5px 5px 5px;
        }
a:hover, a.on {
        color : #cc3333;
        }
a.pink {
        color : #cc3333;
        text-transform : uppercase;
        text-decoration : none;
        padding : 6px 18px 5px 18px;
        }
    
.boxring {
        background-image: url(images/Boxing.jpg);
        background-repeat: no-repeat;
        max-width : 100%;
        height: auto;
        background-position: center top;
        background-size: contain;
    }

.rocky {
    max-width : 100%;
    width: 90vw;
    height: auto;

}
    
.2L {
    max-width : 100%;
    width: 20vw;
    height: auto;

}
    
.logga {
        flex-grow: 1;
    }
    
    .fight {
        padding: 40px;
        text-align : center;
        width : auto;
    } 
    
.knapp {
        background: #cc3333;
        border: 3px white;
        border-radius: 5px;
        color: #ffffff;
        text-align: center;
        font-size: 2vw;
        padding: 20px 20px;
        box-shadow: #c0baba 2px 2px;
        margin: auto;
    }
    
.knapp:hover {
        background: #ec6b6b
    }
body {
    background-color: #000000;
    color: #e7e6e6;
}
.container-text{
    color:#202020;
    font-family: 'Source Sans Pro', sans-serif;
    
}
#grad {  /* id för att skapa en graderad bakgrund*/

background-color: #02021f; /* För browsers som inte supporterar gradients */
background-image: linear-gradient(to bottom, #02021f, #12133b, #a8aac9, #d2d2e4, #fdfcfc); 
}

a {  /*  anger färgen på en länk */
    color: #447a7cda;
}

a:hover {  /* ändrar färg på länken när du hovrar med musen över den*/
    color: #617c7c;
}

h2 { 
    text-align: center;
    padding-top: 50px;
}

div {
    padding: 8px;
}

hr {  /* anger färg på linje-avdelaren hr på sidan */
    background-color: #e7e6e654;
}

footer {
    text-align: center;
    color: #202020;
}